absl-py==1.0.0
antlr4-python3-runtime==4.8
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
brax==0.0.13
cffi==1.15.0
chex==0.1.3
cloudpickle==2.0.0
colorama==0.4.4
cvxpy==1.2.0
cvxpylayers==0.1.5
cycler==0.11.0
dataclasses==0.6
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
diffcp==1.0.19
dill==0.3.4
dm-tree==0.1.7
ecos==2.0.10
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
flatbuffers==2.0
flax==0.4.2
fonttools==4.33.3
grpcio==1.46.1
gym==0.23.1
gym-notices==0.0.6
importlib-metadata==4.11.3
importlib-resources==5.7.1
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
jax==0.3.12
jaxlib==0.3.10
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
msgpack==1.0.3
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
nimblephysics==0.7.2
notebook==6.4.11
numpy==1.22.3
omegaconf==2.1.2
opt-einsum==3.3.0
optax==0.1.2
osqp==0.6.2.post5
packaging==21.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pybind11==2.9.2
pycparser==2.21
Pygments==2.12.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytinyrenderer==0.0.13
PyVirtualDisplay==3.0
PyYAML==6.0
pyzmq==22.3.0
qdldl==0.1.5.post2
scipy==1.8.0
scs==3.2.0
Send2Trash==1.8.0
six==1.16.0
soupsieve==2.3.2.post1
sourceinspect==0.0.4
stack-data==0.2.0
taichi==1.0.1
tensorboardX==2.5
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
toolz==0.11.2
torch==1.11.0
torchdiffeq==0.2.3
tornado==6.1
traitlets==5.2.1.post0
trimesh==3.12.0
typing_extensions==4.2.0
usd-core==22.5.post1
warp-lang==0.2.0
wcwidth==0.2.5
webencodings==0.5.1
zipp==3.8.0
